<mat-card class="example-card">
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Search..." [(ngModel)]="filterTerm">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field><br>
    <button mat-raised-button color="primary" (click)="newEditori()">Nuovo Editore</button>
    <table class="table table-striped ">

        <thead>


            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sito Editore</th>
                <th scope="col">Azione</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let editore of editori | filter:filterTerm">
                <th scope="row">{{editore.id}}</th>
                <td>{{editore.nome}}</td>
                <td>{{editore.sito_editore}}</td>
                <td><button mat-raised-button color="primary" routerLink="/editori/{{editore.id}}">Mostra</button></td>

            </tr>

        </tbody>
    </table>
</mat-card>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
